{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% if session.user_authorized %}
            {% if user_follows %}
                <h2 class="text-center" style="margin: 20px 0;">Choose a streamer to watch:</h2>
                <div class="row" style="margin-left: 40%;">
                    <form action="" method="post" id="favourite-channel-form">
                        {% for channel in user_follows %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="channel-id" value="{{ channel.to_id }}" required>
                                <label class="form-check-label" for="exampleRadios1">
                                    {{ channel.to_name }}
                                </label>
                            </div>
                        {% endfor %}
                        <button class="btn btn-primary" style="margin-top: 20px;" type="submit">Get channel stream</button>
                    </form>
                </div>
            {% else %}
                <div style="margin: 20% 10%;" class="text-center">
                    <h3>Please start following some streamers on Twitch, and we will display them here.</h3>
                </div>
            {% endif %}
        {% else%}
            <div style="margin-top: 20%;">
                <h2 class="text-center">Welcome to Twitch Me, a simple service to watch your followed streamers from Twitch. Please log in to start!</h2>
            </div>
        {% endif %}

    </div>
{% endblock %}
