{% extends 'base.html' %}
{% block content %}
    <!-- Add a placeholder for the Twitch embed -->
    <div id="twitch-embed"style="margin: 10px 0;" ></div>

    <h2>Latest events: </h2>
    <div style="display:none" class="socket" id="latest-events"></div>

    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
            width: 854,
            height: 480,
            channel: '{{ channel_name }}'
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            var url = "https://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/streamer_ws");
            $('.socket').show();
            socket.on('connected', function(msg) {
                if (msg !== undefined) {
                    $("#latest-events").prepend('<h3>' + msg.msg + '<h3>');
                }
                socket.emit('streamer_id', {'streamer_id': '{{ channel_id }}'});
            });
            socket.on('disconnect', function(msg) {
                if (msg !== undefined) {
                    $("#latest-events").prepend('<h3>' + msg.msg + '<h3>');
                }
            });
            socket.on('check_updates', function() {
                socket.emit('streamer_id', {'streamer_id': '{{ channel_id }}'});
            });
            socket.on('streamer_events', function(msg) {
                console.log(msg);
                var eventMsg = msg.recent_events;
                $("#latest-events").empty();
                for (var i = 0; i < eventMsg.length ; i++){
                    $("#latest-events").prepend('<h3>' + eventMsg[i] + '<h3>');
                }
            });
        });
    </script>
{% endblock %}